{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

	<!-- title -->
    <div class="jumbotron">
    	<div class="container">
        	<h1>{% page_attribute "page_title" %}</h1>
        </div>
    </div>

    <!-- content -->
    <div class="container">
        <div class="row bottom-margin">

        	<!-- list of steps -->
			<div class="col-lg-4 col-lg-push-8">
				
				<!-- display list of steps with submenu -->
				{% show_sub_menu 1 3 0 "menu/step.html" %}

			</div>

			<!-- title of step -->
			<div class="col-lg-8 col-lg-pull-4">
				{% placeholder "Step" %}
			</div>
		</div>

		<!-- next button -->
		<div class="row bottom-margin">
			<div class="col-lg-4 col-lg-offset-2 text-center">

				<!-- check that there are steps -->
				{% if children %}
					<a href="{{ request.current_page.children.first.get_absolute_url }}" class="btn btn-default">
						Start!
					</a>

				<!-- no steps yet -->
				{% else %}
					<p>Coming Soon!</p>
					<a href="{{ request.current_page.get_parent.get_absolute_url }}" class="btn btn-default">Back</a>
				{% endif %}
			</div>
		</div>
		
    </div>
{% endblock content %}
